
html {
  background: #000000;
}

body {
  width: 90%;
  min-width: 285px;
  max-width: 1000px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  margin:0 auto;
}

nav {
  background-color: #000000;
  padding: 20px;
}

nav li {
  list-style: none;
  display: inline-block;
}
nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;
  padding: 2px;
  color: #ffffff;
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 3em;
  color: #007d7b;
}

h2 {
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  color: #000000;
}

p {
  padding-left: 10px;
  font-size: 1.25em;
}

#gallery {
  background-color: #ffffff;
  color:#000000;
}

.wrap {
  display: grid;
}


figure img {
  width: 100%;
  min-width: 200px;
  position: relative;
}

figcaption {
  text-transform: uppercase;
  font-weight: bold;

}

#info {
  color: #ffffff;
}

#contact {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}

footer {
  background-color: #000000;
}

input {
  color:#007d7b;
  background-color: #ffffff;
  width: 310px;
  text-transform: uppercase;
  font-weight: bold;
  border-style: none;
  height: 30px;
  margin: 5px;

}

label {
  text-transform: uppercase;
  font-style: normal;
  text-align: left;
}

button {
  color: #ffffff;
  background-color: #007d7b;
  border-radius: 10px;
  font-weight: bold;
  border-style: none;
  text-transform: uppercase;
  border-color: #007d7b;
  width: 300px;
  height: 30px;
  margin: 20px;
  
}

footer small {
  font-size: 1em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

@media screen and (min-width:880px) {
  .wrap {
    grid-template-columns: 1fr 1fr;

  }

  input {
    width: 620px;
  }
}
@media screen and (min-width: 1300px) {
  .wrap {
    grid-template-columns: repeat(3, 1fr);
  }
  nav li {
    justify-content: right;
  }
  input {
    width: 900px;
  }
}